# System & Env Folders
.agents/
.config/
Developer/
vendor/
vendor_src/
my-codeql-db/
bin/
public/

# Binary & Package Archives
*.deb
*.rpm
*.zip
*.tar.gz
*.tgz
*.pkg
*.msi
*.sig
*.SHA256SUM

# Cross-language artifacts
App.java
pom.xml
build.sbt,
MODULE.bazel
Gem
gems/
rake-13.4.2/
graph-2.11.1/
spec/
irb

# Miscellaneous Logs/Reports
*.sarif
.bazel_fix_commands.json
skills-lock.json
artifact-fetched
